<div class="wizardBox">
        <wizard-header
                wizard-title="$ctrl.context.title"
                current-step="$ctrl.context.step"
                total-steps="$ctrl.totalSteps">
        </wizard-header>

        <form-generator 
                model-obj="$ctrl.LabelData"
                context="$ctrl.context"
                previous-index="$ctrl.previousIndex"
                next-index="$ctrl.nextIndex"
                on-previous="$ctrl.goToPreviousStep(value)"
                on-next="$ctrl.goToNextStep(value)"
                on-continue="$ctrl.goToReview()">
        </form-generator>
</div>