.wizard {
  width: 60%;
  height: 20%;
  margin-top: 6%;
  margin-left: 20%;
  border: 1px solid #ccc;
  background-color: #f3f3f3; }

.table.review-table > tbody > tr > td {
  vertical-align: middle; }

body {
  background-color: #fff; }

.wizardBox {
  padding: 0 5% 5% 5%; }

.center-content {
  text-align: center; }
