<div>
    <form name="$ctrl.formName" class="form-horizontal">
        <fieldset>
            <div class="row" ng-repeat="pageField in $ctrl.context.pageData">

                <div ng-switch="pageField.type">
                     <div class="form-group" ng-switch-when="radio">
                        <label class="control-label col-sm-4" for="{{pageField.name}}">{{ pageField.label }} <span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <div class="radio" ng-repeat="option in pageField.data">
                                <label><input type="radio" name="{{pageField.name}}" ng-model="$ctrl.modelObj[$ctrl.context.step][pageField.name]" value="{{ option.value }}" required>{{ option.label }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-switch-when="number">
                        <label class="control-label col-sm-2" for="{{pageField.name}}">{{ pageField.label }} <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="{{pageField.name}}" id="{{pageField.name}}"
                                ng-model="$ctrl.modelObj[$ctrl.context.step][pageField.name]" min="0" required/>
                            <p ng-show="$ctrl.formName[pageField.name].$dirty && $ctrl.formName[pageField.name].$error.number" class="text-danger">{{ pageField.message }}</p>
                        </div>
                    </div>
                    <div class="form-group" ng-switch-default>
                        <label class="control-label col-sm-2" for="{{pageField.name}}">{{ pageField.label }} <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="{{pageField.name}}" id="{{pageField.name}}"
                                ng-model="$ctrl.modelObj[$ctrl.context.step][pageField.name]" 
                                ng-pattern="pageField.validator" pattern="pageField.validator"
                                required/>
                            <p ng-show="$ctrl.formName[pageField.name].$dirty && $ctrl.formName[pageField.name].$error.pattern" class="text-danger">{{ pageField.message }}</p>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-md-12">
                    <div class="form-controls center-content">
                        <button type="button" ng-click="$ctrl.onPrevious({value: $ctrl.previousIndex})" class="btn btn-primary" ng-show="$ctrl.previousIndex !== false" aria-label="Previous">&laquo; Previous</button>
                        <button type="button" ng-click="$ctrl.onNext({value: $ctrl.nextIndex})" class="btn btn-primary" ng-show="$ctrl.nextIndex !== false" aria-label="Next" ng-disabled="!$ctrl.formName.$valid">Next &raquo;</button>
                        <button type="button" ng-click="$ctrl.onContinue()" class="btn btn-primary" ng-show="$ctrl.nextIndex === false" aria-label="continue to review" ng-disabled="!$ctrl.formName.$valid">Continue To Review &raquo;</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>