<div class="row">
    <div class="col-md-12">
        <div class="form-controls">
            <button type="button" ng-click="$ctrl.onPrevious({value: $ctrl.previousIndex})" class="btn btn-primary" ng-show="$ctrl.previousIndex !== false" aria-label="Previous">&laquo; Previous</button>
            <button type="button" ng-click="$ctrl.onNext({value: $ctrl.nextIndex})" class="btn btn-primary" ng-show="$ctrl.nextIndex !== false" aria-label="Next">Next &raquo;</button>
            <button type="button" ng-click="$ctrl.onContinue()" class="btn btn-primary" ng-show="$ctrl.nextIndex === false" aria-label="continue to review">Continue To Review &raquo;</button>
        </div>
    </div>
</div>