<div class="wizardBox">
    <div class="row">
        <h1>Review Label</h1>
        <table class="table table-bordered review-table">      
            <tbody>
                <tr>
                    <td class="col-md-4"><label>Cost of the Shipping</label></td>
                    <td class="col-md-8">
                        {{ $ctrl.referenceDataService.calculateShippingCost($ctrl.content.weight, shippingOption) | currency }}
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4"><label>Receiver's Address </label></td>
                    <td class="col-md-8">
                        <address>
                            {{$ctrl.content.to.name }} <br>
                            {{$ctrl.content.to.street }} <br>
                            {{$ctrl.content.to.city }} <br>
                            {{$ctrl.content.to.state }} <br>
                            {{$ctrl.content.to.zip }} <br>
                        </address>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4"><label>Sender's Address </label></td>
                    <td class="col-md-8">
                        <address>
                            {{$ctrl.content.from.name }} <br>
                            {{$ctrl.content.from.street }} <br>
                            {{$ctrl.content.from.city }} <br>
                            {{$ctrl.content.from.state }} <br>
                            {{$ctrl.content.from.zip }} <br>
                        </address>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4"><label>Package Weight</label></td>
                    <td class="col-md-8">{{ $ctrl.content.weight }} lbs</td>
                </tr>
                <tr>
                    <td class="col-md-4"><label>Shipping Option</label></td>
                    <td class="col-md-8">{{ $ctrl.content.shippingOption == 1 ? 'Ground' :  'Priority' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-12 center-content">
            <a href ui-sref="wizard" class="btn btn-primary" aria-label="Cancel">Cancel</a>
            <a href ui-sref="confirm" class="btn btn-primary" aria-label="confirm">Confirm</a>
        </div>
    </div>
</div>
