//$enable-flex: true;
@import "../components/shippingLabelMaker/shippingLabelMaker.scss";
@import "../components/wizard/wizard.scss";
@import "../components/review.label/review.label.scss";

body{
    background-color: #e7eaee;
}

.wizardBox {
    padding: 0 5% 5% 5%;
    min-height: 15%;
}

.center-content {
    text-align: center;
}