//$enable-flex: true;
@import "../components/about/about.scss";



body{
    background-color: #e7eaee;
}

.app{
    margin-top:162px;
    min-height: 81vh;
}

.app.app-expanded{
    margin-top:225px;
    min-height: 111vh;
}

.hero-spacing{
    letter-spacing: 2.5px;
}

aamc-footer{
    max-height: 10vh;
}


.box-shadow{
-webkit-box-shadow: -7px -4px 9px 0px rgba(140,138,140,1);
-moz-box-shadow: -7px -4px 9px 0px rgba(140,138,140,1);
box-shadow: -7px -4px 9px 0px rgba(140,138,140,1);
}